<!DOCTYPE html>
<html class="jcGOA">
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>89Team</title>
    <meta name="author" content="gezg">
    
    <link rel="stylesheet" type="text/css" href="<%= rootPath%>/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<%= rootPath%>/css/style.css">
    <link rel="icon" href="<%= rootPath%>/images//favicon.ico"> 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-danger bg-danger">
      <div class="container">
          <a class="navbar-brand" href="#">八九团队为您服务</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
        </div>
      </div>
      </div>
    </nav>

    <section class="container">
        
                